 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/retina_1708x683_Declarative_Programming_Newsletter___blog-721d56d839e95a827d39768ca757ade1-466e1059f13365d0e343dc76ccb0d314.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 330px auto 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  margin: 28px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Programming_code.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1443px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  margin: 207px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 82px auto 0 91px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  font-size: 3.75rem;
  margin: -103px 312px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  margin: 109px auto 0 289px;
}

.u-section-2 .u-image-1 {
  width: 253px;
  height: 253px;
  margin: 36px 411px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 247px;
  height: 165px;
  margin: -218px 82px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 175px;
  height: 161px;
  margin: -154px auto 0 138px;
}

.u-section-2 .u-text-4 {
  font-size: 3.75rem;
  margin: 196px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 2.25rem;
  background-image: none;
  font-family: ABeeZee;
  margin: 38px auto 0 313px;
}

.u-section-2 .u-text-6 {
  font-size: 2.25rem;
  font-family: ABeeZee;
  margin: -43px 346px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1190px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 112px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 71px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 41px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 151px;
    margin-left: 221px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 240px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 48px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 144px;
    margin-left: 166px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 287px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 180px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 164px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 119px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 58px;
    margin-right: 83px;
    margin-left: 27px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.875rem;
    margin-top: -94px;
    margin-right: -18px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 119px;
    margin-left: 27px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 95px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-left: 113px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 103px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/12566636-0.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 2.25rem;
  letter-spacing: 1px;
  margin: 150px 188px 0 auto;
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: -66px auto 0 48px;
}

.u-section-3 .u-social-icons-1 {
  height: 142px;
  min-height: 16px;
  width: 142px;
  min-width: 16px;
  margin: 128px auto 0 131px;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  margin: -131px 172px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-top: 288px;
    margin-right: 0;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 106px;
  }

  .u-section-3 .u-icon-2 {
    color: rgb(197, 54, 164) !important;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-btn-1 {
    margin-top: 230px;
    margin-left: -21px;
    margin-right: -21px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: -204px;
    margin-left: 26px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 194px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: -29px;
    margin-right: -29px;
  }
}